<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-shop">Sawah-Store</i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="about"
            >about</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contact"
            >contact</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <ul class="list-unstyled d-flex mb-0">
            <li class="mx-2">
             <a routerLink="cart" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a>
                
            </li>
            <li class="mx-2">
                <a routerLink="login" class="nav-link"> <i class="fa-solid fa-user"></i></a>
            </li>
            <li class="mx-2">
                <a routerLink="register" class="nav-link"> <i class="fa-solid fa-user-pen"></i></a>
            </li>
            <li class="mx-2">
                <a routerLink="login" class="nav-link"> LogOut</a>
            </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
