/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Taviraj:wght@200;300;400;600;800;900&display=swap');

$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6);
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;
body{
    background-color: $bgColor;
    font-family: 'Montserrat',sans-serif;
    color: $fontColor;
}